---
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'
import Button from '~/components/ui/Button.astro'
import Layout from '~/layouts/MarkdownLayout.astro'
const telegram = await getCollection('telegram')
---

<Layout frontmatter={{ title: 'Новости' }}>
  {
    telegram.map((message) => (
      <article class={'max-w-md mx-auto md:max-w-none grid intersect-once intersect-quarter'}>
        <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
          {message.data.date.toLocaleString('ru', {
            dateStyle: 'full',
            timeStyle: 'short',
          })}
        </h2>
        {message.data.photo && <img src={message.data.photo} class="w-auto md:w-96 rounded-md shadow-lg" />}
        <div class="flex-grow text-muted dark:text-slate-400 text-lg" set:html={message.data.message} />
      </article>
    ))
  }
  <article
    class={'max-w-md mx-auto md:max-w-none grid  intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade'}
  >
    <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">Больше новостей</h2>
    <Button variant="secondary" href="https://t.me/s/cartomsu" target="_blank">
      Telegram <Icon name="tabler:brand-telegram" class="ml-1" />
    </Button>
  </article>
</Layout>
